.DS_Store
.dart_tool/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
.fvm/

# Flutter/Dart/Pub related
.packages
.pub/
build/
revenuecat_examples/**/pubspec.lock
api_tester/**/pubspec.lock

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks
revenuecat_examples/purchase_tester/ios/Flutter/flutter_export_environment.sh
revenuecat_examples/purchase_tester/.flutter-plugins-dependencies
revenuecat_examples/purchase_tester/ios/Flutter/Flutter.podspec
revenuecat_examples/purchase_tester/ios/Flutter/.last_build_id
revenuecat_examples/purchase_tester/android/.composite-enable
fastlane/report.xml
*.bck

fastlane/.env

# CI created folders
vendor/
.bundle/
flutter