name: purchases_flutter
description: Flutter in-app purchases and subscriptions made easy. The plugin supports iOS, macOS and Android.
version: 8.11.0
homepage: https://www.revenuecat.com/
repository: https://github.com/RevenueCat/purchases-flutter
issue_tracker: https://github.com/RevenueCat/purchases-flutter/issues
documentation: https://docs.revenuecat.com/docs

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  freezed_annotation: ^2.0.1
  json_annotation: ^4.8.0

dev_dependencies:
  build_runner: ^2.1.10
  flutter_driver:
    sdk: flutter
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  freezed: ^2.0.2
  json_serializable: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.revenuecat.purchases_flutter
        pluginClass: PurchasesFlutterPlugin
      ios:
        pluginClass: PurchasesFlutterPlugin
      macos:
        pluginClass: PurchasesFlutterPlugin
