name: purchases_flutter
description: Flutter in-app purchases and subscriptions made easy. The plugin supports iOS, macOS and Android.
version: 9.6.0
homepage: https://www.revenuecat.com/
repository: https://github.com/RevenueCat/purchases-flutter
issue_tracker: https://github.com/RevenueCat/purchases-flutter/issues
documentation: https://docs.revenuecat.com/docs

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  web: ^1.1.1
  equatable: ^2.0.0

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.revenuecat.purchases_flutter
        pluginClass: PurchasesFlutterPlugin
      ios:
        pluginClass: PurchasesFlutterPlugin
      macos:
        pluginClass: PurchasesFlutterPlugin
      web:
        pluginClass: PurchasesFlutterPlugin
        fileName: web/purchases_flutter_web.dart
